In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('covid.csv')

In [3]:
df.head()

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,Illinois,17031,1,0.0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23

In [4]:
df1 = df[['date','county','state','cases','deaths','percent_uninsured','percent_vaccinated']]
df1.head()

,date,county,state,cases,deaths,percent_uninsured,percent_vaccinated
0,2020-01-21,Snohomish,Washington,1,0.0,6.207640,49.0
1,2020-01-22,Snohomish,Washington,1,0.0,6.207640,49.0
2,2020-01-23,Snohomish,Washington,1,0.0,6.207640,49.0
3,2020-01-24,Cook,Illinois,1,0.0,9.972268,45.0
4,2020-01-24,Snohomish,Washington,1,0.0,6.207640,49.0

In [5]:
df2 = df1.groupby(['date','state']).agg({'cases':['sum'], 'deaths':['sum'], 'percent_uninsured':['median'], 'percent_vaccinated':['median']})
df2.tail(20)

                                       cases   deaths percent_uninsured  \
                                         sum      sum            median
date       state
2020-12-04 North Dakota                81949    989.0          9.960332
           Northern Mariana Islands      106      2.0               NaN
           Ohio                       456963   6882.0          7.010878
           Oklahoma                   208804   1860.0         18.654973
           Oregon                      81441   1004.0          8.786428
           Pennsylvania               404699  11189.0          6.659523
           Puerto Rico                 85266      0.0               NaN
           Rhode Island                51705   1346.0          3.670793
           South Carolina             226013   4496.0         13.151331
           South Dakota                84398   1064.0         12.025444
           Tennessee                  383829   4818.0         11.841060
           Texas                     1322711  22890.0         21.144679
           Utah                       209060    925.0         11.773779
           Vermont                      4755     77.0          5.827695
           Virgin Islands               1613     23.0               NaN
           Virginia                   247380   4160.0         11.311415
           Washington                 182756   3060.0          8.024880
           West Virginia               52172    799.0          7.807773
           Wisconsin                  432217   3847.0          6.760105
           Wyoming                     35737    257.0         14.464995

                                    percent_vaccinated
                                                median
date       state
2020-12-04 North Dakota                           42.0
           Northern Mariana Islands                NaN
           Ohio                                   48.0
           Oklahoma                               46.0
           Oregon                                 39.5
           Pennsylvania                           48.0
           Puerto Rico                             NaN
           Rhode Island                           50.0
           South Carolina                         46.0
           South Dakota                           34.0
           Tennessee                              47.0
           Texas                                  38.0
           Utah                                   44.0
           Vermont                                47.0
           Virgin Islands                          NaN
           Virginia                               50.0
           Washington                             42.0
           West Virginia                          39.0
           Wisconsin                              50.0
           Wyoming                                41.0

In [6]:
df3 = df2.dropna().reset_index()
df3.columns = df3.columns.droplevel(1)
df3.tail(20)

,date,state,cases,deaths,percent_uninsured,percent_vaccinated
14155,2020-12-04,New Mexico,104935,1706.0,10.739711,38.0
14156,2020-12-04,New York,690143,34409.0,5.312835,51.0
14157,2020-12-04,North Carolina,384165,5505.0,13.439739,49.5
14158,2020-12-04,North Dakota,81949,989.0,9.960332,42.0
14159,2020-12-04,Ohio,456963,6882.0,7.010878,48.0
14160,2020-12-04,Oklahoma,208804,1860.0,18.654973,46.0
14161,2020-12-04,Oregon,81441,1004.0,8.786428,39.5
14162,2020-12-04,Pennsylvania,404699,11189.0,6.659523,48.0
14163,2020-12-04,Rhode Island,51705,1346.0,3.670793,50.0
14164,2020-12-04,South Carolina,226013,4496.0,13.151331,46.0
14165,2020-12-04,South Dakota,84398,1064.0,12.025444,34.0
14166,2020-12-04,Tennessee,383829,4818.0,11.841060,47.0
14167,2020-12-04,Texas,1322711,22890.0,21.144679,38.0
14168,2020-12-04,Utah,209060,925.0,11.773779,44.0
14169,2020-12-04,Vermont,4755,77.0,5.827695,47.0
14170,2020-12-04,Virginia,247380,4160.0,11.311415,50.0
14171,2020-12-04,Washington,182756,3060.0,8.024880,42.0
14172,2020-12-04,West Virginia,52172,799.0,7.807773,39.0
14173,2020-12-04,Wisconsin,432217,3847.0,6.760105,50.0
14174,2020-12-04,Wyoming,35737,257.0,14.464995,41.0

In [7]:
df3['date'] = pd.to_datetime(df3['date'])
df3['new_date'] = df3['date'].dt.strftime('%Y%m')
df3.tail(20)

,date,state,cases,deaths,percent_uninsured,percent_vaccinated,new_date
14155,2020-12-04,New Mexico,104935,1706.0,10.739711,38.0,202012
14156,2020-12-04,New York,690143,34409.0,5.312835,51.0,202012
14157,2020-12-04,North Carolina,384165,5505.0,13.439739,49.5,202012
14158,2020-12-04,North Dakota,81949,989.0,9.960332,42.0,202012
14159,2020-12-04,Ohio,456963,6882.0,7.010878,48.0,202012
14160,2020-12-04,Oklahoma,208804,1860.0,18.654973,46.0,202012
14161,2020-12-04,Oregon,81441,1004.0,8.786428,39.5,202012
14162,2020-12-04,Pennsylvania,404699,11189.0,6.659523,48.0,202012
14163,2020-12-04,Rhode Island,51705,1346.0,3.670793,50.0,202012
14164,2020-12-04,South Carolina,226013,4496.0,13.151331,46.0,202012
14165,2020-12-04,South Dakota,84398,1064.0,12.025444,34.0,202012
14166,2020-12-04,Tennessee,383829,4818.0,11.841060,47.0,202012
14167,2020-12-04,Texas,1322711,22890.0,21.144679,38.0,202012
14168,2020-12-04,Utah,209060,925.0,11.773779,44.0,202012
14169,2020-12-04,Vermont,4755,77.0,5.827695,47.0,202012
14170,2020-12-04,Virginia,247380,4160.0,11.311415,50.0,202012
14171,2020-12-04,Washington,182756,3060.0,8.024880,42.0,202012
14172,2020-12-04,West Virginia,52172,799.0,7.807773,39.0,202012
14173,2020-12-04,Wisconsin,432217,3847.0,6.760105,50.0,202012
14174,2020-12-04,Wyoming,35737,257.0,14.464995,41.0,202012

In [15]:
df4 = df3.groupby(['new_date','state']).agg({'cases':['sum'], 'deaths':['sum'], 'percent_uninsured':['median'], 'percent_vaccinated':['median']})
df4.tail(20)

                           cases    deaths percent_uninsured  \
                             sum       sum            median
new_date state
202012   New Mexico       408190    6597.0         10.739711
         New York        2698069  137263.0          5.312835
         North Carolina  1503675   21687.0         13.439739
         North Dakota     322844    3886.0          9.960332
         Ohio            1771843   26854.0          7.010878
         Oklahoma         814471    7266.0         18.654973
         Oregon           315596    3878.0          8.786428
         Pennsylvania    1551339   43614.0          6.659523
         Rhode Island     200959    5328.0          3.670793
         South Carolina   888823   17810.0         13.151331
         South Dakota     330861    4040.0         12.025444
         Tennessee       1509881   18763.0         11.841060
         Texas           5201956   90161.0         21.144679
         Utah             815131    3633.0         11.773779
         Vermont           18073     298.0          5.827695
         Virginia         974426   16513.0         11.311415
         Washington       715773   12000.0          8.024880
         West Virginia    201920    3124.0          7.807773
         Wisconsin       1696046   14971.0          6.760105
         Wyoming          139127     974.0         14.464995

                        percent_vaccinated
                                    median
new_date state
202012   New Mexico                   38.0
         New York                     51.0
         North Carolina               49.5
         North Dakota                 42.0
         Ohio                         48.0
         Oklahoma                     46.0
         Oregon                       39.5
         Pennsylvania                 48.0
         Rhode Island                 50.0
         South Carolina               46.0
         South Dakota                 34.0
         Tennessee                    47.0
         Texas                        38.0
         Utah                         44.0
         Vermont                      47.0
         Virginia                     50.0
         Washington                   42.0
         West Virginia                39.0
         Wisconsin                    50.0
         Wyoming                      41.0

In [16]:
df4['cases_k'] = round(df4['cases']/1000,2)
df4['deaths_k'] = round(df4['deaths']/1000,2)
df4['percent_uninsured'] = round(df4['percent_uninsured'],2)
df4.tail(20)

                           cases    deaths percent_uninsured  \
                             sum       sum            median
new_date state
202012   New Mexico       408190    6597.0             10.74
         New York        2698069  137263.0              5.31
         North Carolina  1503675   21687.0             13.44
         North Dakota     322844    3886.0              9.96
         Ohio            1771843   26854.0              7.01
         Oklahoma         814471    7266.0             18.65
         Oregon           315596    3878.0              8.79
         Pennsylvania    1551339   43614.0              6.66
         Rhode Island     200959    5328.0              3.67
         South Carolina   888823   17810.0             13.15
         South Dakota     330861    4040.0             12.03
         Tennessee       1509881   18763.0             11.84
         Texas           5201956   90161.0             21.14
         Utah             815131    3633.0             11.77
         Vermont           18073     298.0              5.83
         Virginia         974426   16513.0             11.31
         Washington       715773   12000.0              8.02
         West Virginia    201920    3124.0              7.81
         Wisconsin       1696046   14971.0              6.76
         Wyoming          139127     974.0             14.46

                        percent_vaccinated  cases_k deaths_k
                                    median
new_date state
202012   New Mexico                   38.0   408.19     6.60
         New York                     51.0  2698.07   137.26
         North Carolina               49.5  1503.68    21.69
         North Dakota                 42.0   322.84     3.89
         Ohio                         48.0  1771.84    26.85
         Oklahoma                     46.0   814.47     7.27
         Oregon                       39.5   315.60     3.88
         Pennsylvania                 48.0  1551.34    43.61
         Rhode Island                 50.0   200.96     5.33
         South Carolina               46.0   888.82    17.81
         South Dakota                 34.0   330.86     4.04
         Tennessee                    47.0  1509.88    18.76
         Texas                        38.0  5201.96    90.16
         Utah                         44.0   815.13     3.63
         Vermont                      47.0    18.07     0.30
         Virginia                     50.0   974.43    16.51
         Washington                   42.0   715.77    12.00
         West Virginia                39.0   201.92     3.12
         Wisconsin                    50.0  1696.05    14.97
         Wyoming                      41.0   139.13     0.97

In [18]:
df5 = df4.dropna().reset_index()
df5.columns = df5.columns.droplevel(1)
df5.tail(20)

,new_date,state,cases,deaths,percent_uninsured,percent_vaccinated,cases_k,deaths_k
504,202012,New Mexico,408190,6597.0,10.74,38.0,408.19,6.60
505,202012,New York,2698069,137263.0,5.31,51.0,2698.07,137.26
506,202012,North Carolina,1503675,21687.0,13.44,49.5,1503.68,21.69
507,202012,North Dakota,322844,3886.0,9.96,42.0,322.84,3.89
508,202012,Ohio,1771843,26854.0,7.01,48.0,1771.84,26.85
509,202012,Oklahoma,814471,7266.0,18.65,46.0,814.47,7.27
510,202012,Oregon,315596,3878.0,8.79,39.5,315.60,3.88
511,202012,Pennsylvania,1551339,43614.0,6.66,48.0,1551.34,43.61
512,202012,Rhode Island,200959,5328.0,3.67,50.0,200.96,5.33
513,202012,South Carolina,888823,17810.0,13.15,46.0,888.82,17.81
514,202012,South Dakota,330861,4040.0,12.03,34.0,330.86,4.04
515,202012,Tennessee,1509881,18763.0,11.84,47.0,1509.88,18.76
516,202012,Texas,5201956,90161.0,21.14,38.0,5201.96,90.16
517,202012,Utah,815131,3633.0,11.77,44.0,815.13,3.63
518,202012,Vermont,18073,298.0,5.83,47.0,18.07,0.30
519,202012,Virginia,974426,16513.0,11.31,50.0,974.43,16.51
520,202012,Washington,715773,12000.0,8.02,42.0,715.77,12.00
521,202012,West Virginia,201920,3124.0,7.81,39.0,201.92,3.12
522,202012,Wisconsin,1696046,14971.0,6.76,50.0,1696.05,14.97
523,202012,Wyoming,139127,974.0,14.46,41.0,139.13,0.97

In [20]:
df5['percent_insured'] = 100-df5['percent_uninsured']
df5.tail(20)

,new_date,state,cases,deaths,percent_uninsured,percent_vaccinated,cases_k,deaths_k,percent_insured
504,202012,New Mexico,408190,6597.0,10.74,38.0,408.19,6.60,89.26
505,202012,New York,2698069,137263.0,5.31,51.0,2698.07,137.26,94.69
506,202012,North Carolina,1503675,21687.0,13.44,49.5,1503.68,21.69,86.56
507,202012,North Dakota,322844,3886.0,9.96,42.0,322.84,3.89,90.04
508,202012,Ohio,1771843,26854.0,7.01,48.0,1771.84,26.85,92.99
509,202012,Oklahoma,814471,7266.0,18.65,46.0,814.47,7.27,81.35
510,202012,Oregon,315596,3878.0,8.79,39.5,315.60,3.88,91.21
511,202012,Pennsylvania,1551339,43614.0,6.66,48.0,1551.34,43.61,93.34
512,202012,Rhode Island,200959,5328.0,3.67,50.0,200.96,5.33,96.33
513,202012,South Carolina,888823,17810.0,13.15,46.0,888.82,17.81,86.85
514,202012,South Dakota,330861,4040.0,12.03,34.0,330.86,4.04,87.97
515,202012,Tennessee,1509881,18763.0,11.84,47.0,1509.88,18.76,88.16
516,202012,Texas,5201956,90161.0,21.14,38.0,5201.96,90.16,78.86
517,202012,Utah,815131,3633.0,11.77,44.0,815.13,3.63,88.23
518,202012,Vermont,18073,298.0,5.83,47.0,18.07,0.30,94.17
519,202012,Virginia,974426,16513.0,11.31,50.0,974.43,16.51,88.69
520,202012,Washington,715773,12000.0,8.02,42.0,715.77,12.00,91.98
521,202012,West Virginia,201920,3124.0,7.81,39.0,201.92,3.12,92.19
522,202012,Wisconsin,1696046,14971.0,6.76,50.0,1696.05,14.97,93.24
523,202012,Wyoming,139127,974.0,14.46,41.0,139.13,0.97,85.54

In [21]:
df5.to_csv('data_month.csv', index=False)

In [17]:
df3.to_csv('data.csv', index=False)